* text=auto !eol
etc/sop.cfg -text
python/sopActor/CmdState.py -text
python/sopActor/Commands/SopCmd.py -text
python/sopActor/Commands/__init__.py -text
python/sopActor/__init__.py -text
python/sopActor/apogeeThread.py -text
python/sopActor/bossThread.py -text
python/sopActor/bypass.py -text
python/sopActor/ffsThread.py -text
python/sopActor/gcameraThread.py -text
python/sopActor/guiderThread.py -text
python/sopActor/lampThreads.py -text
python/sopActor/masterThread.py -text
python/sopActor/multiCommand.py -text
python/sopActor/myGlobals.py -text
python/sopActor/script.py -text
python/sopActor/scriptThread.py -text
python/sopActor/sopActor_main.py -text
python/sopActor/tccThread.py -text
python/sopActor/utils/__init__.py -text
python/sopActor/utils/gang.py -text
python/sopActor/utils/guider.py -text
python/sopActor/utils/tcc.py -text
scripts/cartchange.inp -text
scripts/eveningcals.inp -text
scripts/example.inp -text
scripts/morningcals.inp -text
/setup.py -text
test_sopActor/cmd_calls/README -text
test_sopActor/cmd_calls/TestApogeeDomeFlat.txt -text
test_sopActor/cmd_calls/TestApogeeMangaScience.txt -text
test_sopActor/cmd_calls/TestApogeeScience.txt -text
test_sopActor/cmd_calls/TestApogeeThread.txt -text
test_sopActor/cmd_calls/TestAxisInit.txt -text
test_sopActor/cmd_calls/TestAxisStop.txt -text
test_sopActor/cmd_calls/TestBossCalibs.txt -text
test_sopActor/cmd_calls/TestBossScience.txt -text
test_sopActor/cmd_calls/TestBossThread.txt -text
test_sopActor/cmd_calls/TestBypass.txt -text
test_sopActor/cmd_calls/TestDoBossCalibs.txt -text
test_sopActor/cmd_calls/TestGotoField.txt -text
test_sopActor/cmd_calls/TestGotoGangChange.txt -text
test_sopActor/cmd_calls/TestGuider.txt -text
test_sopActor/cmd_calls/TestGuiderMethods.txt -text
test_sopActor/cmd_calls/TestGuiderStart.txt -text
test_sopActor/cmd_calls/TestHartmann.txt -text
test_sopActor/cmd_calls/TestLampThread.txt -text
test_sopActor/cmd_calls/TestMangaScience.txt -text
test_sopActor/cmd_calls/TestMcpSemaphoreOk.txt -text
test_sopActor/sopTester.py -text
test_sopActor/test_SopCmd.py -text
test_sopActor/test_apogeeThread.py -text
test_sopActor/test_bossThread.py -text
test_sopActor/test_bypass.py -text
test_sopActor/test_cmdState.py -text
test_sopActor/test_gang.py -text
test_sopActor/test_guiderThread.py -text
test_sopActor/test_lampThread.py -text
test_sopActor/test_masterThread.py -text
test_sopActor/test_tccThread.py -text
ups/sopActor.table -text
