* text=auto !eol
etc/sop.cfg -text
python/sopActor/Commands/SopCmd.py -text
python/sopActor/Commands/__init__.py -text
python/sopActor/__init__.py -text
python/sopActor/apogeeThread.py -text
python/sopActor/bossThread.py -text
python/sopActor/ffsThread.py -text
python/sopActor/gcameraThread.py -text
python/sopActor/guiderThread.py -text
python/sopActor/lampThreads.py -text
python/sopActor/masterThread.py -text
python/sopActor/myGlobals.py -text
python/sopActor/sopActor_main.py -text
python/sopActor/tccThread.py -text
python/sopActor/utils/__init__.py -text
python/sopActor/utils/tcc.py -text
/setup.py -text
ups/sopActor.table -text
